body {
    height: auto;
    width: 98vw;
    background-color: hsl(36, 100%, 99%);
    margin: 0;
    margin-top: 30px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(236, 13%, 42%);
    font-size: 16px;
    font-family: 'Inter';
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
    margin: 90px auto 25px auto;
}

#logo-marca {
    height: 50px;
    width: 70px;
    margin-right: auto;
}

.grid-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 350px); 
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin: 25px auto; 
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 16px;
}

button{
    width: 200px;
    height: 50px;
    background-color: hsl(240, 100%, 5%);
    color: white;
    border: none;
    margin-top: 15px;
}

.group-1{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: hsl(35, 77%, 62%);
}

.group-2{
    font-size: 20px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
}

.group-3{
    font-size: 30px;
    color: hsl(5, 85%, 63%);
    position: relative;
    left: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.group-4{
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    position: relative;
    left: 10px;
    margin: -20px 0px;
}

p {
    line-height: 1.6;
}

.p-conteiner-end{
    position: relative;
    left: 10px;
    margin-top: 20px;
}

hr{
    margin: 20px 0;
    background-color: hsl(0, 0%, 34%);
    height: 0.1px;
    border: none;
}

.conteiner:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.conteiner:nth-child(3) {
    background-color: hsl(240, 100%, 5%);
    color: hsl(240, 1%, 60%);
    padding: 20px;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.conteiner:nth-child(5) {
    margin-right: 40px;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 700;
    color: hsl(0, 0%, 0%);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.conteiner:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.conteiner:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-right: 5px;
}

.conteiner:nth-child(7) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-right: 5px;
}

.conteiner:nth-child(8) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.images-end{
    width: 90px;
    height: 120px;
    grid-row: 1 / span 3;
    margin-top: 25px;
}

.conteiner:nth-child(6),
.conteiner:nth-child(7),
.conteiner:nth-child(8) {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .grid-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .conteiner {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px 0;
    }

    h1 {
        font-size: 14px;
    }

    button {
        background-color: hsl(5, 85%, 63%);
        color: hsl(0, 0%, 0%);
        font-weight: 700;
    }

    .conteiner:nth-child(1) img {
        display: none; 
    }

    .conteiner:nth-child(1) {
        background-image: url('assets/images/image-web-3-mobile.jpg');
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    .conteiner:nth-child(5) {
        margin-bottom: -60px;
        margin-left: 20px;
    }

    .conteiner:nth-child(4) {
        margin-left: -20px;
    }

    .conteiner:nth-child(6),
    .conteiner:nth-child(7),
    .conteiner:nth-child(8) {
        margin-top: -70px;
    }

    .conteiner:nth-child(1) { order: 1; }
    .conteiner:nth-child(2) { order: 5; }
    .conteiner:nth-child(3) { order: 4; }
    .conteiner:nth-child(4) { order: 3; }
    .conteiner:nth-child(5) { order: 2; }
    .conteiner:nth-child(6) { order: 6; }
    .conteiner:nth-child(7) { order: 7; }
    .conteiner:nth-child(8) { order: 8; }


    #menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 15px;
        display: none; 
    }

    .dialog-box {
        position: fixed; 
        top: 0px;
        right: 1px;
        background-color: hsl(0, 53%, 50%);
        display: none;
        flex-direction: column;
        align-items: start;
        width: 70vw;
        height: 100%;
    }

    .dialog-box.active {
        display: flex;
    }

    #menu-icon {
        display: block;
    }

    .menu h1 {
        display: none;
    }
}
